<hr>

<footer>
<p>&copy; Alpharez 2012</p>
</footer>

</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag :defaults %>
